.block {
  @apply flex flex-col items-center py-10 px-8 rounded-xl transition-transform;

  &:hover {
    transform: translateY(-10px);
  }

  max-width: 354px;

  > img {
    @apply mb-8;
  }

  > p {
    @apply mb-11;

    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 145.455% */
    text-transform: uppercase;
  }

  > span {
    @apply self-start;

    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 145.455% */
    text-transform: uppercase;
  }
}

@media (max-width: 945px) {
  .blocks {
    @apply flex-col max-w-none;

    > div {
      @apply w-full;
    }
  }
}
