@media (max-width: 1200px) {
  .cont {
    width: 100% !important;
  }
  .list {
    padding: 0 !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 30px !important;
    padding-top: 30px !important;
  }
  .form {
    flex-direction: column !important;
    gap: 10px !important;
  }
}
