.header {
  @apply bg-gray-500 py-6;

  .text {
    @apply flex items-baseline mr-auto;

    > span {
      color: #000;
      font-family: Inter;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      text-transform: uppercase;
    }
  }
}
@media (max-width: 700px) {
  .header {
    display: none !important;
  }
}
