.title {
  @apply uppercase;

  color: #000;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 120px;
}

.hero {
  color: #000;
  font-family: Inter;
  font-size: 62px;
  font-style: normal;
  font-weight: 500;
  line-height: 80px; /* 125% */
}

@media (max-width: 500px) {
  .title {
    @apply text-4xl;
  }
  .hero {
    font-size: 28px !important;
  }
}
