.wrap {
  @apply flex items-center bg-gray-500 rounded-s-lg;

  > a {
    @apply py-4 px-16;
    text-wrap: nowrap;
  }

  > a:first-child {
    @apply bg-gray-500 transition rounded-s-lg;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;

    &:hover {
      box-shadow: -11px 13px 29px -2px rgba(0, 0, 0, 0.37);
    }
  }

  > a:last-child {
    @apply bg-gray-600 rounded-lg text-white transition;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;

    &:hover {
      opacity: 0.9;
    }
  }
}
