.user {
  @apply flex flex-col w-full bg-gray-500 rounded-lg p-5;

  > div {
    @apply flex flex-col items-start mb-8;

    > h1 {
      @apply text-3xl font-bold mb-2;
    }

    > h2 {
      @apply text-2xl font-normal mb-0.5;
    }

    > span {
      @apply text-base font-extrabold mt-auto;
    }
  }

  > p {
    @apply text-xl font-semibold self-end;
  }
}

.sites {
  @apply flex flex-col w-1/2 gap-4;

  > li {
    @apply bg-gray-500 rounded-lg p-5;
  }
}

.active {
  @apply w-[20px] h-[20px] bg-green rounded-full;

  box-shadow: 0px 0px 29px -1px rgba(102, 255, 0, 1);
}

.disactive {
  @apply w-[20px] h-[20px] bg-[#DC143C] rounded-full;

  box-shadow: 0px 0px 29px -1px #dc143c;
}

.support {
  @apply flex flex-col items-center justify-center gap-[20px] w-full rounded-lg;

  > h1 {
    @apply text-3xl font-semibold;
  }
}

@media (max-width: 700px) {
  .user {
    width: 100% !important;
  }
  .sites {
    width: 100% !important;
  }
}
