.gWrap {
  @apply flex items-center justify-between;

  > div:first-child {
    @apply flex items-center;

    > a {
      @apply mr-9 transition-transform;

      &:hover {
        transform: scale(0.9);
      }
    }

    > p {
      max-width: 154px;
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
      text-transform: capitalize;
    }
  }

  .wrap {
    @apply flex items-center gap-2.5;
    user-select: none;

    > div {
      margin: 0;
    }

    .block {
      @apply flex flex-col py-8 px-6 rounded-xl;
      max-width: 250px;
      min-height: 250px;
      max-height: 250px;

      > h2 {
        @apply text-white font-semibold mb-auto;
      }

      > img {
        @apply self-end;
      }
    }
  }
}

.sWrap {
  @apply flex justify-end mb-10;

  > a {
    @apply transition-transform;
  }

  > a:hover {
    transform: scale(1.1);
  }
}

.sTitle {
  @apply text-white text-2xl font-semibold;
}

@media (max-width: 1500px) {
  .wrap {
    display: none !important;
  }
}
